:root {
    --tp-theme-primary: #821F40 !important;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-heading: #292930;
    --shadow-dark: 0 16px 32px 0 rgba(0, 0, 0, 0.04);
    --transition: 0.3s;
}

body {
    background-color: #EFF1F5;
}